<mat-sidenav-container class="example-container" >
    <mat-sidenav mode="side" [(opened)]="isOpened">Sidenav content</mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <div style="padding: 10px 0;"></div>
        <button mat-icon-button (click)="isOpened = !isOpened">
          <mat-icon>more_vert</mat-icon>
        </button>
        <div style="padding: 10px 0;"></div>
        <div class="mat-display-3">This is Material UI App</div>
        <div style="padding: 10px 0;"></div>
          <mat-card>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>The subtitle</mat-card-subtitle>
            <small class="md-caption">with small text</small>
            <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </mat-card-content>
          </mat-card>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>